name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: example-class-relations--svg
        uses: xu-cheng/latex-action@v2
        with:
          root_file: example.tex
          latexmk_use_lualatex: true
          latexmk_shell_escape: true

